In [4]:
# Core data manipulation and analysis libraries
import pandas as pd  # For data manipulation and analysis
import numpy as np   # For numerical operations and arrays

# Visualization libraries
import matplotlib.pyplot as plt  # For creating static, animated, and interactive visualizations
import seaborn as sns  # For statistical data visualization

# Machine learning libraries
from sklearn import metrics  # For model evaluation metrics
from sklearn.model_selection import train_test_split  # For splitting datasets

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Enable inline plotting in Jupyter notebooks
# Fixed duplicate import and invalid syntax
%matplotlib inline

In [6]:
    
# Reading datasets
# Using list comprehension to read all csv files in 4 csv files
dataframes = [pd.read_csv(f'UNSW-NB15_{i}.csv', header=None) 
       for i in range(1,5)]
    
# Concat all to a single df name combined_data
# Resetting index is important because:
# 1. When concatenating dataframes, the original index values are preserved which can lead to duplicate indices
# 2. Duplicate indices can cause issues with data access, filtering and analysis
# 3. reset_index() creates a clean, sequential index starting from 0
combined_data = pd.concat(dataframes).reset_index(drop=True)

In [7]:
# Converts null labels to normal.
feature_names = pd.read_csv('features2.csv' )
feature_names_list = feature_names['Name'].tolist()
combined_data.columns = feature_names_list
combined_data.loc[combined_data['attack_cat'].isnull(), 'attack_cat'] = 'Normal'

In [8]:
# Create dataframe of just sport and attack cat columns for function.
df1 = combined_data[['sport', 'attack_cat']]

In [9]:
# Label correction.
print(df1['attack_cat'].value_counts())

attack_cat
Normal              2218764
Generic              215481
Exploits              44525
 Fuzzers              19195
DoS                   16353
 Reconnaissance       12228
 Fuzzers               5051
Analysis               2677
Backdoor               1795
Reconnaissance         1759
 Shellcode             1288
Backdoors               534
Shellcode               223
Worms                   174
Name: count, dtype: int64

In [10]:
df1['attack_cat'] = df1['attack_cat'].str.strip()

In [11]:
print(df1['attack_cat'].value_counts())

attack_cat
Normal            2218764
Generic            215481
Exploits            44525
Fuzzers             24246
DoS                 16353
Reconnaissance      13987
Analysis             2677
Backdoor             1795
Shellcode            1511
Backdoors             534
Worms                 174
Name: count, dtype: int64

In [12]:
print(df1['sport'].value_counts())

sport
1043     216289
47439    198580
0         50432
47439      4689
1043       4033
          ...
33785         1
2637          1
29900         1
3664          1
706           1
Name: count, Length: 100341, dtype: int64

In [13]:
# Get a smaller dataframe to make function.
df1 = df1.head(1000000)

In [14]:
# Check number of unique categories in sport (reduced data).
sports = df1['sport'].unique()
print(len(sports))

100287

In [15]:
print(df1['sport'].value_counts())

sport
0        8910
47439    4689
1043     4033
0        3612
47439    2250
         ...
49266       1
39428       1
3044        1
62086       1
27909       1
Name: count, Length: 100287, dtype: int64

In [ ]:
sport_value_counts = df1['sport'].value_counts()
# Filter values that appear more than 30 times
sports = sport_value_counts[sport_value_counts > 30].index.tolist()

In [23]:
print(len(sports))
print(sports)

556
[0, '47439', '1043', '0', 47439, 1043, 80, 53, 5190, 6881, 25, 143, 21, 111, 56724, 22, 59084, 31591, 1336, 1916, 15235, 6027, 49320, 7907, 36123, 1419, 30705, 30969, 1087, 1097, 46343, 43903, 1695, 1652, 47535, 1209, 55357, 38505, 1756, 61653, 50824, 35000, 47291, 40662, 58924, 1103, 2013, 1777, 1230, 1116, 48691, 8570, 21443, 1636, 1630, 46406, 1642, 1895, 35547, 1365, 1546, 1722, 1643, 20881, 1587, 1398, 1920, 31614, 1190, 39102, 1044, 1379, 13829, 1110, 37406, 1039, 1981, 1828, 1243, 1144, 33095, 1716, 27152, 52400, 1276, 1195, 5060, 1735, 1273, 1574, 1372, 1187, 1072, 1283, 65507, 1936, 1708, 1833, 61667, 1835, 1987, 42635, 1898, 1189, 1570, 1096, 1660, 1359, 50447, 1729, 2048, 1842, 1078, 34804, 1935, 1927, 10056, 1499, 27720, 2041, 30493, 1605, 1580, 7418, 1540, 1517, 9305, 1261, 1813, 11102, 1718, 15801, 1200, 31383, 1794, 259, 1650, 1886, 1298, 1934, 1669, 27312, 46650, 1309, 1744, 1356, 1769, 2024, '5060', 1322, 1170, 41750, 3793, 1148, 1874, 1377, 38409, 48837, 1295, 1997, 1159, 1275, 1263, 1259, 1113, 1026, 1564, 1889, 1486, 6728, 10298, 50150, 1557, 1715, 22078, 1870, 1961, 1354, 1814, 35888, 1988, 1167, 53026, 22499, 1251, 1604, 1879, 63965, 1481, 9758, 25106, 19568, 1880, 1771, 2036, 7639, 1676, 52302, 8984, 1196, 1809, 1955, 1027, 48668, 39907, 32898, 1758, 1547, 1741, 1220, 6684, 1688, 22547, 1514, 1501, 47636, 1325, 13019, 8106, 2028, 1788, 1267, 26621, 1831, 10472, 1057, 1414, 21994, 1562, 1282, 1795, 63101, 1456, 1301, 16757, 2045, 44955, 1146, 1109, 1025, 1139, 1448, 1627, 10929, 12140, 1655, 1796, 2032, 1631, 1674, 1912, 1868, 1951, 1224, 1815, 1945, 1207, 1216, 21561, 1751, 1208, 2042, 40477, 1667, 24810, 1633, 1181, 1918, 55749, 1982, 1477, 1449, 1806, 1877, 16933, 1066, 1479, 15800, 1525, 1509, 1965, 1352, 44499, 1495, 29847, 1245, 46392, 57434, 1504, 1346, 1407, 1572, 1568, 2021, 45262, 1280, 45335, 1533, 33555, 1585, 1248, 1949, 1236, 26081, 1598, 1861, 39159, 26792, 1468, 1024, 47983, 7514, 44566, 1797, 30220, 54110, 16605, 1215, 1064, 1229, 1972, 1787, 1031, 1241, 1405, 39420, 1226, 1617, 1904, 1577, 44699, 1781, 1318, 1367, 2006, 1380, 1250, 1439, 54924, 1704, 2043, 22518, 60478, 1836, 39474, 1897, 1076, 1926, 1160, 1105, 1537, 1434, 1334, 65475, 1508, 8773, 1595, 1672, 50018, 1244, 1094, 1048, 1582, 15114, 1217, 47885, 1125, 1065, 1106, 14935, 33634, 3720, 1111, 1634, 1114, 36176, 1172, 1311, 16735, 1286, 1471, 30943, 1911, 1466, '53', 1340, 43960, 1235, 36105, 1092, 27255, 1487, 1764, 58748, 32070, 1366, 1069, 1608, 1531, 40259, 1802, 1425, 1893, 1561, 65334, 61309, 1528, 59727, 1233, 64726, 1677, 1436, 1506, 1851, 5867, 1198, 1682, 1429, 1661, 1752, 31013, 1324, 47767, 1543, 14330, 18752, 1725, 5652, 19578, 31233, 13798, 1440, 1727, 56526, 1753, 35958, 1755, 1560, 46112, 18322, 1952, 1151, 2875, 1929, 42564, 1455, 38389, 1108, 34807, 36569, 1825, 57406, 40454, 1353, 1821, 1199, 1411, 48690, 1218, 1830, 1271, 1522, 1993, 1351, 1192, 33195, 1397, 1339, 15153, 1589, 1698, 23478, 20178, 1485, 1418, 11976, 49857, 54214, 14030, 1730, 19574, 61500, 61104, 1742, 1237, 53836, 1068, 1944, 18332, 1645, 1424, 1303, 38886, 1713, 40944, 16509, 1539, 1625, 42324, 39674, 22219, 1316, 1401, 1932, 1131, 50376, 2004, 1063, 1856, 33213, 64573, 1478, 1995, 1657, 1327, 1712, 48993, 1402, 14284, 1186, 1754, 12553, 1164, 18192, 1884, 17518, 1253, 64772, 1979, 1526, 9607, 1281, 1032, 1077, 1296, 1381, 1056, 19556, 2026, 5485, 2018, 34662, 1977, 38497, 1689, 1392, 25900, 1363, 19260, 1054, 12251, 31919, 37970, 1085, 1041, 27290]

In [ ]:
# The label we want to compare.
label = 'Normal'
# Dataframe to add the correlations.
corr_df = pd.DataFrame(index=df1.index)
corr_list = []
# Go through each unique category in the given column (tested on just sport but can make it a function).
for s in sports:
    # Create column name same as encoding conventions.
    col_name = f'sport_{s}'
    # Convert all values that match to 1 or else convert to 0 for given values in each column (sport is an iteration and label is static).
    corr_df[col_name] = (df1['sport'] == s).astype(int)
    attack_cat = (df1['attack_cat'] == label).astype(int)
    # Draw correlations of the converted binary columns.
    correlation = corr_df[col_name].corr(attack_cat)
    # Add correlations to list for Dataframe.
    corr_list.append({
        'Sport': s,
        'Correlation': correlation
    })
corr_table = pd.DataFrame(corr_list)
# Get the absolute correlation and sort in descending order.
corr_table['Correlation'] = corr_table['Correlation'].abs()
corr_table.sort_values(by='Correlation', ascending=False, inplace=True)
print("\nCorrelation in Sport Column:")
print(corr_table)
print(corr_table.tail())
print(df1['sport'].value_counts())

Correlation in Sport Column:
    Sport  Correlation
3       0     0.343122
1   47439     0.255831
2    1043     0.205273
4   47439     0.176715
5    1043     0.140546
..    ...          ...
86   5060     0.000095
63  20881     0.000046
51   8570     0.000023
49   1116     0.000023
41  35000     0.000022

[556 rows x 2 columns]
    Sport  Correlation
86   5060     0.000095
63  20881     0.000046
51   8570     0.000023
49   1116     0.000023
41  35000     0.000022
sport
0        8910
47439    4689
1043     4033
0        3612
47439    2250
         ...
49266       1
39428       1
3044        1
62086       1
27909       1
Name: count, Length: 100287, dtype: int64